
.home-2
	.gallery-container
		display: flex
		justify-content: space-between
		overflow: hidden
		width: 100%
		.gallery-main
			width: 85%
			height: 100%
			border: 1px solid #e9e9e9
			@apply text-center
		.gallery-thumbs
			order: -1
			width: 100%
			height: 500px
			margin-right: 15px
			padding-left: 15px
			.swiper-slide-visible
				margin-top: 5px
	.title-new
		text-align: center
		border-radius: 5px
		padding: 8px 15px
		@apply text-xs font-bold text-t2 bg-primary
	.border-text
		border-bottom: 1px solid #d1d1d1
	.btn-contact
		border-radius: 10px
		text-align: center
		@apply text-14px text-t2 font-black bg-e1
	.btn-downloads
		border: 1px solid #000
		border-radius: 10px
		@apply font-black text-14px text-center text-t3

.home-3
	.title-technical
		width: 20%
	.desc-technical
		width: 22%
		max-width: 22%
		margin-left: 50px
