section.home-1.bg-f5 
	.container 
		+NavigationCategory("fa-thin fa-house", ">", "Product")

section.home-2
	.container 
		.grid.gap-20.mt-20(class="grid-cols-12")
			div(class="lg:col-span-6")
				.gallery-container
					.swiper-container.gallery-main
						.swiper-wrapper
							.swiper-slide
								img(src="./img/home/home-4/h-1.webp")
							.swiper-slide
								img(src="./img/home/home-4/h-3.webp")
							.swiper-slide
								img(src="./img/home/home-4/h-4.webp")
							.swiper-slide
								img(src="./img/home/home-4/h-5.webp")
							.swiper-slide
								img(src="./img/home/home-4/h-5.webp")
					//- .button-next
					//- 	i(class="fa-thin fa-chevron-up")
					.swiper-container.gallery-thumbs
						.swiper-wrapper
							.swiper-slide
								img(src="./img/home/home-4/h-2.webp")
							.swiper-slide
								img(src="./img/home/home-4/h-3.webp")
							.swiper-slide
								img(src="./img/home/home-4/h-4.webp")
							.swiper-slide
								img(src="./img/home/home-4/h-5.webp")
							.swiper-slide
								img(src="./img/home/home-4/h-5.webp")
						//- .button-prev
						//- 	i(class="fa-thin fa-chevron-down")
											
			div(class="lg:col-span-6")
				span.title-new New
				h2.font-bold.text-40px.text-t3.mb-5.mt-5 198 CORRISION-RESISTANT GRAPHITE GASKET
				.border-text.mb-5
				h3.font-bold.text-18px.text-t3.mb-5 For Extreme High-Temperature Applications
				p.font-normal.text-18px.text-t3.mb-5 198 is a high-purity graphite sheet gasket with no fillers or binders. 198 contains a corrosion inhibitor that makes it an excellent gasket for almost all environments. It is ideal for use in extreme temperature applications where metal reinforcement cannot be used.
				.border-text.mb-5
				button.btn-contact.px-7.py-3
					i(class="fa-thin fa-phone mr-2")
					| Contact Us
				button.btn-downloads.ml-5.px-7.py-3
					i(class="fa-thin fa-file-pdf mr-2")
					| Download BroChure

section.home-3-pro-dt 
	.container 
		.bg-f5 
			.p-12
				.flex.flex-wrap
					button.font-700.text-16px.text-t3.bg-t2.px-5.py-3 FEATURES & BENEFITS
					button.font-700.text-16px.text-t3.bg-t2.px-7.py-3.ml-5 APPLICATIONS
					button.font-700.text-16px.text-t2.bg-e1.px-5.py-3.ml-5 TECHNICAL DATA
				h2.font-bold.text-24px.text-e1.mt-10 TECHNICAL DATA
				.list
					.title
						h5 Temperature Limit
					.content
						p –240° C (–400° F) to 2760° C 
							br
							| (5000° F) in non-oxidizing services
							br
							| 455° C (850° F) in oxidizing services
				.list
					.title
						h5 Pressure Limit
					.content
						p 140 bar g (2000 psig), Compressibility (ASTM-F36)40% Creep Relaxation (ASTM-F38)
							br
							| <5% Recovery (ASTM-F36)12 to 17%
							br 
							| P x T = 58,000 (°C x bar g)​​
							br
							| P x T = 1,600,000 (°F x psig)
				.list 
					.title
						h5 Color
					.content
						p Grey
				.flex.py-5
					span.font-normal.text-14px.text-t9.uppercase.moreless-button View more
						i(class="fa-thin fa-angles-down ml-2 ")
		.bg-f5.mt-5 
			.p-12.hidden.more-text
				.flex.flex-wrap
					button.font-700.text-16px.text-t3.bg-t2.px-5.py-3 FEATURES & BENEFITS
					button.font-700.text-16px.text-t3.bg-t2.px-5.py-3.ml-5 APPLICATIONS
					button.font-700.text-16px.text-t2.bg-e1.px-5.py-3.ml-5 TECHNICAL DATA
				h2.font-bold.text-24px.text-e1.mt-10 TECHNICAL DATA
				.list
					.title
						h5 Pressure Limit
					.content
						p 140 bar g (2000 psig), Compressibility (ASTM-F36)40% Creep Relaxation (ASTM-F38)
							br
							| <5% Recovery (ASTM-F36)12 to 17%
							br 
							| P x T = 58,000 (°C x bar g)​​
							br
							| P x T = 1,600,000 (°F x psig)
				.flex.py-5
					span.font-normal.text-14px.text-t9.uppercase.moreless-button View less
						i(class="fa-thin fa-angles-up ml-2 ")


section.home-4-pro-dt
	.container
		h2.font-bold.text-24px.text-e1.pt-10 RELATED PRODUCTS
			.relative 
			.swiper.mySwiperProduct.mt-5
				.swiper-wrapper.mb-20
					+ListProductsHome-1("new", "./img/home/home-1/h-7.webp", "Lubricants", "WIRE ROPE 455 ARAMID FIBER GASKET", "View More")
					+ListProductsHome-1("new", "./img/home/home-1/h-8.webp", "O Ring", "D-RINGS", "View More")
					+ListProductsHome-1("new", "./img/home/home-1/h-9.webp", "Chemicals", "CHESTERTON 273 ELECTRIC MOTOR CLEANER", "View More")
					+ListProductsHome-1("new", "./img/home/home-1/h-10.webp", "Blasting Machine", "FEED UNIT 170 HP", "View More")
					+ListProductsHome-1("new", "./img/home/home-1/h-7.webp", "Lubricants", "WIRE ROPE 455 ARAMID FIBER GASKET", "View More")
			//- .button-next
			//- 	i(class="fa-light fa-angle-right mt-2")
			//- .button-prev
			//- 	i(class="fa-light fa-angle-left mt-2")


script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript")
script.
		var galleryThumbs = new Swiper(".gallery-thumbs", {
		//- centeredSlides: true,
		centeredSlidesBounds: true,
		slidesPerView: 6,
		watchOverflow: true,
		watchSlidesVisibility: true,
		watchSlidesProgress: true,
		direction: 'vertical',
		navigation: {
			nextEl: '.button-next',
			prevEl: '.button-prev',
		},
	});

	var galleryMain = new Swiper(".gallery-main", {
		watchOverflow: true,
		watchSlidesVisibility: true,
		watchSlidesProgress: true,
		preventInteractionOnTransition: true,
		
		effect: 'fade',
		fadeEffect: {
			crossFade: true
		},
		thumbs: {
			swiper: galleryThumbs
		}
	});

	galleryMain.on('slideChangeTransitionStart', function () {
		galleryThumbs.slideTo(galleryMain.activeIndex);
	});

	galleryThumbs.on('transitionStart', function () {
		galleryMain.slideTo(galleryThumbs.activeIndex);
	});

script.
	var swiper = new Swiper(".mySwiperProduct", {
		slidesPerView: 4,
		spaceBetween: 30,
		navigation: {
		nextEl: ".button-next",
		prevEl: ".button-prev",
	},
		breakpoints: {
	// when window width is >= 320px
	320: {
		slidesPerView: 2,
		spaceBetween: 20
	},
	// when window width is >= 480px
	480: {
		slidesPerView: 2,
		spaceBetween: 20
	},
	// when window width is >= 640px
	640: {
		slidesPerView: 3,
		spaceBetween: 20
	},
	768: {
		slidesPerView: 4,
		spaceBetween: 20,
	},
	1024: {
		slidesPerView: 4,
		spaceBetween: 20,
	},
	}
	});

script.
	$('.moreless-button').click(function() {
	$('.more-text').slideToggle();
	if ($('.moreless-button').text() == "View more") {
		$(this).text("View less")
	} 
	//- else {
	//- 	$(this).text("View more")
	//- }
	});