section.home-1.bg-f5 
	.container 
		+NavigationCategory("fa-thin fa-house", ">", "About Us")

section.home-2 
	.container 
		.px-3.mt-20
			.grid.gap-20(class="grid-cols-12")
				div(class="xs:col-span-12 sm:col-span-12 md:col-span-12 lg:col-span-6")
					h2.font-bold.text-40px.text-e1.mb-5 About SIU
					p.font-normal.text-18px.text-t3.mb-5 In helping process industry companies and manufacturers improve the reliability and efficiency of their rotating, stationary, and fluid power equipment platforms. We are known across a wide range of industries for our award-winning pump and valve sealing solutions, applications expertise, equipment maintenance and wear-prevention products, and knowledgeable hands-on local service.
					ul 
						li.font-bold.text-18xp.text-t3 Year ​Founded:
							a.font-normal(href='#')  2008 in Ho Chi Minh City, Vietnam 
						li.font-bold.text-18xp.text-t3 Headquarters: 
							a.font-normal(href='#') Siu Industry Co., Ltd , Ho Chi Minh City, Vietnam
						li.font-bold.text-18xp.text-t3.mb-10 Employees: 
							a.font-normal(href='#') 10
					h3.font-bold.text-24px.text-e1.mb-5 A typical workflow includes the following
					+ListCateCircleHome-8("Rotating E​quipment Solutions​")
					+ListCateCircleHome-8("Stationary Equipment Solutions") 
					+ListCateCircleHome-8("Fluid Power Equipment Solutions") 
					+ListCateCircleHome-8("Industrial Lubricants/MRO Chemicals")
					+ListCateCircleHome-8("ARC Efficiency & Protective Coatings​")
					+ListCateCircleHome-8("FluidEfficiency Services")
					h3.font-bold.text-24px.text-e1.mb-10.mb-5.mt-10 Over 500 Sales & Service Locations Globally​
					ul 
						li.list-circle.font-bold.text-lg.text-t3 North America: 
							a.font-normal(href='#') 160 sales and service locations 
						li.list-circle.font-bold.text-lg.text-t3 South America: 
							a.font-normal(href='#')  42 sales and service locations
						li.list-circle.font-bold.text-lg.text-t3 Europe, Middle East, and Africa: 
							a.font-normal(href='#') 234 sales and service locations
						li.list-circle.font-bold.text-lg.text-t3 Asia Pacific: 
							a.font-normal(href='#') 66 sales and service locations

				div(class="xs:col-span-12 sm:col-span-12 md:col-span-12 lg:col-span-6")
					img(src="./img/home/home-2/h-1.webp")