section.home-1
	img(src="./img/home/home-9/h-1.webp")
	//- span News
section.home-2.bg-f5 
	.container 
		+NavigationCategory("fa-thin fa-house", ">", "News", ">", "Activity News")
section.home-3
	.container 
		.flex.justify-center.space-x-10.mb-10.mt-5
			.bg-e1.px-10.py-2 
				button.font-bold.text-16px.text-t2.text-center ACTIVITY NEWS
			.bg-f1.px-16.py-2 
				button.font-bold.text-16px.text-t3.text-center EVENTS
		.grid(class="grid-cols-12")
			div(class="xs:col-span-12 sm:col-span-6 md:col-span-8 lg:col-span-8")
				img(src="./img/home/home-9/h-2.webp" class="w-full h-full object-cover")

			div.bg-f1(class="xs:col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-4")
				.flex.flex-col.mx-auto.px-16.py-10
					.calender
						img(src="./img/home/home-9/h-9.webp")
						span.calender-title Nov 2, 2022
				
					h2.font-bold.text-30px.text-t3.mt-10 New Chesterton 638 Electric Motor Grease - Empowering Pumps
					p.font-normal.text-base.text-t6.mt-10 High Performing Grease that Exhibits Extreme Pressure, Water, and Corrosion Resistance to protect. High Performing Grease that Exhibits Extreme Pressure, Water, and Corrosion Resistance to protect ...
					.flex.mt-20 
						button.font-bold.text-14px.text-t3.uppercase View more
						i(class="fa-thin fa-arrow-right font-light text-xl text-primary ml-3")

section.home-4 
	.container 
		.grid.gap-8(class="grid-cols-12")
			+ListNewHome-9("./img/home/home-9/h-3.webp", "./img/home/home-9/h-9.webp", "Nov 2, 2022", "New Chesterton 638  Electric Motor Grease - Empowering Pumps", "High Performing Grease that Exhibits Extreme Pressure, Water, and Corrosion Resistance to protect ...", "View more", "fa-thin fa-arrow-right")
			+ListNewHome-9("./img/home/home-9/h-4.webp", "./img/home/home-9/h-9.webp", "Nov 2, 2022", "New Chesterton 638 Electric Motor Grease - Empowering Pumps", "High Performing Grease that Exhibits Extreme Pressure, Water, and Corrosion Resistance to protect ...", "View more", "fa-thin fa-arrow-right")
			+ListNewHome-9("./img/home/home-9/h-5.webp", "./img/home/home-9/h-9.webp", "Nov 2, 2022", "New Chesterton 638 Electric Motor Grease - Empowering Pumps", "High Performing Grease that Exhibits Extreme Pressure, Water, and Corrosion Resistance to protect ...", "View more", "fa-thin fa-arrow-right")
			+ListNewHome-9("./img/home/home-9/h-6.webp", "./img/home/home-9/h-9.webp", "Nov 2, 2022", "New Chesterton 638 Electric Motor Grease - Empowering Pumps", "High Performing Grease that Exhibits Extreme Pressure, Water, and Corrosion Resistance to protect ...", "View more", "fa-thin fa-arrow-right")
			+ListNewHome-9("./img/home/home-9/h-7.webp", "./img/home/home-9/h-9.webp", "Nov 2, 2022", "New Chesterton 638 Electric Motor Grease - Empowering Pumps", "High Performing Grease that Exhibits Extreme Pressure, Water, and Corrosion Resistance to protect ...", "View more", "fa-thin fa-arrow-right")
			+ListNewHome-9("./img/home/home-9/h-8.webp", "./img/home/home-9/h-9.webp", "Nov 2, 2022", "New Chesterton 638 Electric Motor Grease - Empowering Pumps", "High Performing Grease that Exhibits Extreme Pressure, Water, and Corrosion Resistance to protect ...", "View more", "fa-thin fa-arrow-right")

section.home-5 
	.container 
		+ListPagination("1", "2", "3")
