section.home-1 
	.container 
		+NavigationCategory("fa-thin fa-house", ">", "News", ">", "Activity News")

section.home-2 
	.container 
		.grid.gap-8.mt-10(class="grid-cols-12")
			div(class="xs:col-span-12 sm:col-span-12 md:col-span-12 lg:col-span-8")
				.px-3
					.calender
						img(src="./img/home/home-9/h-9.webp")
						span.calender-title Nov 2, 2022
					h2.font-bold.text-40px.text-t3.mb-5 New Chesterton 638 Electric Motor Grease - Empowering Pumps
					.border-home-10
					h5.font-bold.text-18px.text-t3.mb-5 Our industrial pumps are wasting far more energy than we know – an estimated $10.2 billion/year! But by carefully watching and addressing pump efficiency, your facility can get control of these energy losses. In this post, we’ll look closer at what causes pump efficiency issues and specific steps for improving pump performance.
					img(src="./img/home/home-10/h-1.webp" class="mb-5")
					h3.font-bold.text-lg.text-t3.mb-5 Pumps & Energy
					p.font-normal.text-lg.text-t3.mb-5 In 2015, the US industrial sector consumed 800.7 million megawatt hours of electricity at a total cost of $56.4 billion. The pump portion of this is an estimated $10.2 billion of industrial expense
					p.font-normal.text-lg.text-t3.mb-5 Energy used by pumps tends to be an “invisible cost,” often buried in other expense lines. The reality is that improving the efficiency of a pump can have an enormous impact on increasing the return on investment (ROI) of each pump in your operation.
					img(src="./img/home/home-10/h-2.webp" class="mb-5")
					h3.font-bold.text-lg.text-t3.mb-5 The Impact of Pump Efficiency
					p.font-normal.text-lg.text-t3.mb-5 Plant managers are often surprised at the widespread nature of under-performing pumps. Several years ago, a Finnish research center* evaluated 1,690 pumps at 20 process plants. They found that the average pumping efficiency was below 40%, and that over 10% of the pumps were running below 10% efficiency.
					p.font-normal.text-lg.text-t3.mb-5 To check whether your pump is operating efficiently, measure the power it consumes and check it against the pump’s performance curve. The pump curve will specify how much power you should be using at the pumps generated flow and pressure. You can then identify the specific energy savings that can be achieved by addressing inefficiencies. Your local power company may also be willing to provide energy audits as a means to save energy and lower peak loads.
					img(src="./img/home/home-10/h-3.webp")


			div(class="xs:col-span-12 sm:col-span-12 md:col-span-12 lg:col-span-4")
				.bg-f1.sticky.top-0 
					.px-10.py-5
						h2.font-bold.text-2xl.text-e1.mb-5 RELATED NEWS
						.border-home-10
						+ListRelativeNewHome-10("Nov 2, 2022", "New Chesterton 638 Electric Motor Grease - Empowering Pumps")
						.border-home-10
						+ListRelativeNewHome-10("Nov 2, 2022", "What is a Double Seal and When to Use One (Double Seals: Part 1)")
						.border-home-10
						+ListRelativeNewHome-10("Nov 2, 2022", "What is a Double Seal and When to Use One (Double Seals: Part 2)")
						.border-home-10
						+ListRelativeNewHome-10("Nov 2, 2022", "What is a Double Seal and When to Use One (Double Seals: Part 3)")
						.border-home-10
						+ListRelativeNewHome-10("Nov 2, 2022", "Ways to Reduce the Use of Water in Mining")