section.home-1(setbackground='./img/home/home-1/bg.webp')
	.container
		.grid(class='grid-cols-2 gap-30px')
			.col-left
			.col-right
				.box-content
					.body-text-1 VỀ DELLYCOOK
					.heading-h2.mt-5 THĂNG HOA VỊ GIÁC
					.ctn.mt-5.body-text-3 Nơi chia sẻ những công thức nấu ăn cùng những khoảnh khắc bên gia đình.Thấu hiểu sự vất vả trong việc kết hợp các loại gia vị để tạo sự hài hoà trong từng món ăn. Đó là lý do để DELLYCOOK ra đời, mang sứ mệnh phục vụ bằng sản phẩm gia vị tuyệt hảo khiến việc nấu nướng trở nên dễ dàng nhưng vẫn vẹn nguyên chất lượng và dinh dưỡng
					.button.mt-5
						a.btn.btn-1 XEM THÊM
