footer.bg-t1
	.container
		.grid.gap-2.pt-10.pb-10(class="grid-cols-12")
			div(class="xs:col-span-12 sm:col-span-12 md:col-span-5 lg:col-span-5")
				h2.font-bold.text-24px.text-t2 SIU INDUSTRY
				ul.mt-3
					li.mt-3
						i(class="fa-thin fa-location-dot font-light text-16px text-center text-t2")
						a(href="#" class="font-normal text-16px text-t2 ml-2") 611 Ta Quang Buu St. Dist.8, Ho Chi Minh City , Viet Nam
					li.mt-3
						i(class="fa-thin fa-globe font-light text-16px text-center text-t2")
						a(href="#" class="font-normal text-16px text-t2 ml-2") www.siuindustry.com
					li.mt-3
						i(class="fa-sharp fa-light fa-envelope font-light text-16px text-center text-t2")
						a(href="#" class="font-normal text-16px text-t2 ml-2") sales@siuindustry.com
					li.mt-3
						i(class="fa-light fa-phone-arrow-up-right font-light text-16px text-center text-t2")
						a(href="#" class="font-normal text-16px text-t2 ml-2") 0918184800
				ul.flex.font-normal.text-24px.text-t2.align-center.mt-5
					i(class="fa-brands fa-facebook-f")
					i(class="fa-brands fa-instagram ml-5")
					i(class="fa-brands fa-youtube ml-5")


			div(class="xs:col-span-4 sm:col-span-4 md:col-span-2 lg:col-span-2")
				h2.font-bold.text-24px.text-t2 Products
				ul.list-disc.text-t2.mt-3.px-4
					li 
						a(href="" class="font-normal text-16px text-t2") Gasket
					li 
						a(href="" class="font-normal text-16px text-t2") Packing
					li 
						a(href="" class="font-normal text-16px text-t2") O RING
					li 
						a(href="" class="font-normal text-16px text-t2") Hydraulic Seals
					li 
						a(href="" class="font-normal text-16px text-t2") Chemicals
					li 
						a(href="" class="font-normal text-16px text-t2") Lubricants
					li 
						a(href="") Fittings

			div(class="xs:col-span-4 sm:col-span-4 md:col-span-2 lg:col-span-2")
				ul.list-disc.text-t2.mt-10
					li 
						a(href="" class="font-normal text-16px text-t2") Raw Materials​​​​
					li 
						a(href="" class="font-normal text-16px text-t2") Shims​​​​
					li 
						a(href="" class="font-normal text-16px text-t2") Injection Nozzles
					li 
						a(href="" class="font-normal text-16px text-t2") Blasting Machine
					li 
						a(href="" class="font-normal text-16px text-t2") MRO Products​​​​
					li 
						a(href="" class="font-normal text-16px text-t2") Tools​​​​
					li 
						a(href="" class="font-normal text-16px text-t2") Valves
			div(class="xs:col-span-4 sm:col-span-4 md:col-span-3 lg:col-span-3")
				h2.font-bold.text-24px.text-t2 QUICK LINKS
				ul.list-disc.text-t2.mt-3.px-4
					li 
						a(href="" class="font-normal text-16px text-t2") About us
					li 
						a(href="" class="font-normal text-16px text-t2") Services
					li 
						a(href="" class="font-normal text-16px text-t2") Manufacturing
					li 
						a(href="" class="font-normal text-16px text-t2") News
					li 
						a(href="" class="font-normal text-16px text-t2") Contact us

.bg-e1 
	.container 
		.grid(class="grid-cols-12")
			div(class="xs:col-span-12 sm:col-span-12 md:col-span-6 lg:col-span-8")
				p.font-normal.text-14px.text-t2.mt-5.mb-5 © 2022 SIU Industry. All Rights Reserved.
			div(class="xs:col-span-12 sm:col-span-12 md:col-span-6 lg:col-span-4")
				p.font-normal.text-14px.text-t2.mt-5.mb-5 Terms and Conditions  .  Privacy Policy  .  Sitemap